@use '../styles/abstracts' as *;

.not-found {
  min-height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-16 0;

  &__content {
    max-width: 500px;
  }

  &__code {
    display: block;
    font-family: $font-family-heading;
    font-size: 8rem;
    font-weight: $font-weight-bold;
    line-height: 1;
    color: $color-primary-light;
    margin-bottom: $spacing-4;

    @include respond-to('md') {
      font-size: 12rem;
    }
  }

  &__title {
    font-family: $font-family-heading;
    font-size: $font-size-3xl;
    color: $color-text-primary;
    margin-bottom: $spacing-4;

    @include respond-to('md') {
      font-size: $font-size-4xl;
    }
  }

  &__text {
    font-size: $font-size-lg;
    color: $color-text-secondary;
    margin-bottom: $spacing-8;
  }
}
