// ==========================================================================
// Reset
// ==========================================================================
// Modern CSS reset based on Josh Comeau's reset

@use '../abstracts' as *;

// Use a more-intuitive box-sizing model
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin and padding
* {
  margin: 0;
  padding: 0;
}

// Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Remove built-in form typography styles
input,
button,
textarea,
select {
  font: inherit;
}

// Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Create a root stacking context
#root {
  isolation: isolate;
}

// Remove list styles on ul, ol elements with a list role
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

// Set core body defaults
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
